.container_register{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.section_register{
    height: 100vh;
    min-height: 78vh;
    background-color: #F3F2EF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
    gap: 1.5rem;
}
.section_register > img {
    height: 35px;
}

.section_register > p {
   font-size: 32px;
   text-align: center;
}

.container__input{
    width: 400px;
    height: 450px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #FFF;
    padding: 0 15px;
}

.container__input > form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container__input > form > input {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.container__input > form > p {
    color: gray;
    font-size: 14px;
    margin-bottom: 5px;

}

.term{
    color: gray;
    font-size: 12px;
    text-align: center;
    padding: 0 1.5rem;
}

.term > span{
    color: #0a66c2;
    font-weight: 600;
    cursor: pointer;
}

.term > span:hover{
    text-decoration: underline;
}

.container__input > button {
    width: 100%;   
    height: 48px;
    font-size: 16px;
    font-weight: 550;
    color: #fff;
    background-color: #0a66c2;
    border-radius: 24px;
    border: none;
    cursor: pointer;
}

.container__input > button:hover {
    background-color: #014385;
}

.container__input > h3 {
    font-size: 16px;
    font-weight: 300;
}

.login__resgiter {
    font-size: 16px;
    color: #0a66c2;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}
.login__resgiter:hover {
    text-decoration: underline;
}


@media(max-width: 769px){
    .section_register{
        background-color: #FFF;
        height: auto;
    }   
    .container__input{
        width: 90%;
        justify-content: flex-start;
    }
} 
