.container_hero{
    width: 100%;
    height: auto;
    background-color: #FFF;
    display: flex;
}
.area_hero{
    width: 100%;
    display: flex;
    padding-left: 7.5rem;
}

.hero_left{
    flex: 1;
    width: 55vw;
    display: flex;
    flex-direction: column;
    padding-right: 42px;
    gap: 2rem;
}

.hero_left > p {
    font-weight: 200;
    font-size: 56px;
    color: rgba(143, 88, 73, 1);
}

.hero_option{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.option{
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(48, 47, 47);
    font-size: 20px;
    background-color: #FFF;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid rgb(228, 225, 225);
}

.option:hover{
    box-shadow: 5px 5px 7px rgb(228, 225, 225);
}

.area_img_hero{
    width: 43%;
    display: flex;
    overflow: hidden;
}
.area_img_hero > img{
    width: 600px;
    height: 560px;
}

@media(max-width: 1161px){
    .area_hero{
        padding-left: 1.8rem;
    } 
}

@media (max-width: 769px){
    .area_img_hero{
        overflow: inherit;
        justify-content: center;
    }
    .area_hero{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px;
    }
    .hero_left{
        width: 100%;
        padding: 0;
        padding-bottom: 20px;
    }
    .hero_left > p {
        font-weight: 300;
        font-size: 32px;
    }
    .area_img_hero > img{
        width: 344px;
        height: 200px;
    }
    .hero_option{
        width: 100%;
    }
}