.headerOption{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 30px;
    color: gray;
    cursor: pointer;
}
.headerOption:hover{
    color: #000;
}

.headerOption__title{
    display: block;
    font-size: 12px;
    font-weight: 400;
}

.headerOption__icon{
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
}

@media(max-width: 769px){
    .headerOption__title{
        display: none;
    }
}
