.container_home {
    width: 100%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 82%;
    height: 60px;
}

.nav_home > img{
    height: 32px;
}

.nav_home_right{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.h3 {
    color: gray;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 10px;
    transition: 0.3s ease;
    text-decoration: none;
}

.h3:hover {
   background-color: rgb(238, 236, 236);
   color: black;
   transition: 0.3s ease;
}

.span {
    color: #0a66c2;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 20px;
    border: 1px solid #0a66c2;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
}

.span:hover {
    background-color: #c1f3ff;
}

.container_announce{
    display: flex;
    width: 100%;
    height: auto;
    background-color: #f1eae1;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}

.area_announce {
    width: 82%;
    height: 72%;
    display: flex;
    align-items: center;
}

.title_announce{
    width: 413px;
    font-size: 40px;
    font-weight: 400;
    color: rgba(178, 64, 32, 1);
    margin-right: 60px;
}

.area_announce > button {
    background-color: transparent;
    color: rgb(109, 108, 108);
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid rgb(109, 108, 108);
    border-radius: 30px;
    width: 200px;
    height: 57px;
    transition: 0.3s all ease;
}

.area_announce > button:hover {
    background-color: rgb(207, 205, 205);
    text-decoration: 2px underline;
    transition: 0.3s all ease;
}

@media(max-width: 1161px){
    .area_announce{
       width: 95%;
    } 
    .nav_home{
        width: 95%;
    }
    .nav_home > img{
        height: 22px;
    }
    .span {
        padding: 6px 20px;
    }
}

@media (max-width: 769px){
    .area_announce{
        flex-direction: column;
        align-items: flex-start;
        padding: 18px;
    }
    .title_announce{
        width:100%;
        font-size: 32px;
        font-weight: 500;
        line-height: 2.5rem;
    }
    .area_announce > button {
        width: 200px;
        height: 45px;
        margin-top: 20px;
    }
}