.container_feed {
    width: 100%;
    background-color: #F3F2EF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body_feed{
    width: 85%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}


@media(max-width: 769px){
    .body_feed{
        flex-direction: column;
    }
}

@media(max-width:579px){
    .body_feed{
        width: 100%;
    }
}