.header {
    position: sticky;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    border-bottom: 0.1px solid lightgray;
    padding: 4px 0px;
    z-index: 100;
}

.header__left{
    display: flex;
    padding-left: 7.5%;
    align-items: center;
}

.header__search{
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    height: 34px;
    width: 270px;
    color: gray;
    background-color: #EEF3F8;
}

.header__search > input{
   outline:none;
   border: none;
   background: none;
}

.header__left > img {
    object-fit: contain;
    height: 35px;
    margin-right: 10px;
}

.header__right{
    display: flex;
    align-items: center;
    padding-right: 7%;
}
.button-menu{
    display: none;
    padding-right: 20px;
}
@media(max-width: 1024px){
    .header {
        justify-content: flex-start;
    }
    .header__left{
        padding-right: 25px;
    }
    .header__search{
        display: none;
    }
}

@media(max-width: 769px){
    .header {
        justify-content: space-between;
        align-items: center;
    }
    .header__right{
      display: none;
  }
  .button-menu{
    display: block;
}
}